# {{ ansible_managed }}
{% if item.value['configuration'] is defined %}
{%   for profile, config in item.value['configuration'].iteritems() %}

{%     if profile == 'default' %}
[{{ profile }}]
{%     else %}
[profile {{ profile }}]
{%     endif %}
{%     for parameter, value in awscli_configuration[ config ].iteritems() | sort %}
{{ parameter }}={{ value }}
{%     endfor %}
{%   endfor %}
{%  endif %}
