# {{ ansible_managed }}
{% if item.value['profiles'] is defined %}
{%   for profile in item.value['profiles'] %}

[{{ profile }}]
{%     for parameter, value in awscli_profiles[ profile ].iteritems() | sort %}
{{ parameter }}={{ value }}
{%     endfor %}
{%   endfor %}
{% endif %}
