---
# file: tasks/debug.yml
#
# debug tasks.
#

- debug:
    var="{{ item }}"
  when: "{{ item }} is defined"
  with_items:
    - awscli_configuration
    - awscli_profiles
    - awscli_users
    - awscli_version
